<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836225855666-5rrndfb372c6dglle0kljui75prifn1n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836225855666-5rrndfb372c6dglle0kljui75prifn1n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>836225855666-348oveb0v0au1sgfqcbqpu4vi0mtt10s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDF1qIf48g6jSOkjkmNFz-yAQ_XGvYuWlg</string>
	<key>GCM_SENDER_ID</key>
	<string>836225855666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.primeway.primeway</string>
	<key>PROJECT_ID</key>
	<string>primeway-e0f3f</string>
	<key>STORAGE_BUCKET</key>
	<string>primeway-e0f3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836225855666:ios:02f0ed4fc8ac65faa3d9ab</string>
</dict>
</plist>